<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Insert title here</title>
	</head>
	<body>
		<form th:action="@{/product/register}" th:object="${productVO}" method="post">
			<div>
				<input type="text" th:field="*{productName}" placeholder="상품명">
			</div>
			<div>
				<input type="text" th:field="*{productStock}" placeholder="상품재고">
			</div>
			<div>
				<input type="text" th:field="*{productPrice}" placeholder="상품가격">
			</div>
			<!--input type="button"이 아닌 "submit"이다.-->
			<input type="submit" value="등록" > 
		</form>
	</body>
</html>