<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0/EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace는 기존의 별칭이 아닌 interface가 있는 경로를 적어주어야 한다.-->
<mapper namespace="com.korea.rest.mapper.OrderMapper">
	<insert id="insert">
		INSERT INTO "ORDER" (ORDER_ID, PRODUCT_ID, PRODUCT_COUNT)
		VALUES(seq_order.nextval, #{productId}, #{productCount})
	</insert>
	
	<select id="selectAll" resultType="orderDTO">
		select p.*, order_id, product_count, order_date, product_price * product_count order_price
		from product p join "ORDER" o on p.product_id = o.product_id 
		<choose>
			<!-- html에서 던진 sort가 recent일 때 -->
			<when test="sort == 'recent'.toString()">
				<!-- 주문날짜 최신순으로 정렬-->
				order by order_date desc
			</when>
			<otherwise>
				<!-- 결제금액 높은 순으로 정렬 -->
				order by order_price desc
			</otherwise>
		</choose>
	</select>
</mapper>