<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0/EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace는 기존의 별칭이 아닌 interface가 있는 경로를 적어주어야 한다.-->
<mapper namespace="com.korea.db.Mapper.ProductMapper">
	<insert id="insert" parameterType="product">
		INSERT INTO HR.PRODUCT (PRODUCT_ID, PRODUCT_NAME, PRODUCT_STOCK, PRODUCT_PRICE, REGISTER_DATE, UPDATE_DATE)
					VALUES(seq_product.nextval, #{productName}, #{productStock}, #{productPrice});
	</insert>
</mapper>