<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0/EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace는 기존의 별칭이 아닌 interface가 있는 경로를 적어주어야 한다.-->
<mapper namespace="com.korea.db.Mapper.TimeMapper">
	<!--id는 추상메서드의 이름과 일치해야 한다.-->
	<select id="getTime" resultType="String">
		SELECT SYSDATE FROM DUAL
	</select>
</mapper>