<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0/EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace는 기존의 별칭이 아닌 interface가 있는 경로를 적어주어야 한다.-->
<mapper namespace="com.korea.board.mapper.BoardMapper">
	
	<!-- 페이지 별 게시물 조회 -->
	<select id="selectList" resultType="boardVO">
		select * from (select rank() over(order by ref desc, step) no, b.* from board b)
		where no between #{start} and #{end}
	</select>
	
	<!-- 전체 게시물 수 조회 -->
	<select id="getRowTotal" resultType="int">
		select count(*) from board
	</select>
	
	<!-- 한 건의 게시물 조회 -->
	<select id="selectOne" resultType="boardVO">
		select * from board where idx = #{idx}
	</select>
	
	<!-- 조회 수 증가 -->
	<update id="update_readhit">
		update board
		set readhit = readhit + 1
		where idx = #{idx}
	</update>
	
	<!-- 게시물 작성 -->
	<insert id="insert" parameterType="boardVO">
		insert into board values(
			seq_board_idx.nextval,
			#{name},
			#{subject},
			#{content},
			#{pwd},
			#{ip},
			sysdate,
			0,
			seq_board_idx.currval,
			0,
			0,
			0
		)
	</insert>
</mapper>